*.pyc
src/*.html
.hypothesis/
.eggs/
.tox
.cache
*.egg-info/*
dist/

*.so
build/

src/datrie.c
src/cdatrie.c
src/stdio_ext.c
wheelhouse


.idea/*


# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml
