include README.rst
include CHANGES.rst
include COPYING
include tox.ini
include tox-bench.ini
include update_c.sh
include tests/words100k.txt.zip
recursive-include tests *.py

include src/datrie.pyx
include src/cdatrie.pxd
include src/stdio_ext.pxd
