global-include CMakeLists.txt *.cmake
include README.rst CHANGES.rst COPYING
graft src
graft tests
include tox.ini tox-bench.ini update_c.sh
include bench/words100k.txt.zip
exclude src/datrie.c
exclude src/*.html
global-exclude *.py[cod] __pycache__
